#page-room {
  header {
    padding: 1.5rem;
    border-bottom: 1px solid #e2e2e2;

    .content {
      display: grid;
      grid-template-areas: 
        'logo delete'
        'code code';

      max-width: 70rem;
      margin: 0 auto;
      
      gap: 1.5rem;

      img[data-type="logo"] {
        grid-area: logo;
        max-height: 2.8125rem;
      }

      > button {
        height: 2.5rem;
      }

      > button[data-type="delete"] {
        grid-area: delete
      }

      > button[data-type="code"] {
        grid-area: code;
      }
    }
  }

  main {
    padding: 1.5rem;
    max-width: 50rem;
    margin: 0 auto;

    .room-title {
      margin: 2rem 0 1.5rem;
      display: flex;
      align-items: center;

      h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 1.5rem;
        color: #29292e;
      }

      span {
        margin-left: 1rem;
        background: #e559f9;
        border-radius: 100rem;
        padding: 0.5rem 1rem;
        color: #fff;
        font-weight: 500;
        font-size: 0.875rem;
      }
    }

    .empty {
      color: #737380;
      background: #fefefe;
      border-radius: 0.5rem;
      box-shadow: 0 0.125rem 0.75rem rgba(0, 0, 0, 0.04);
      padding: 1.5rem;
    }

    form {
      textarea {
        width: 100%;
        border: 0;
        padding: 1rem;
        border-radius: 0.5rem;
        background: #fefefe;
        box-shadow: 0 0.125rem 0.75rem rgba(0, 0, 0, 0.04);
        resize: vertical;
        min-height: 8.125rem;
      }
    }

    .form-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;

      span {
        font-size: 0.825rem;
        color: #737380;
        font-weight: 500;

        button {
          background: transparent;
          border: 0;
          color: #835afd;
          text-decoration: underline;
          font-size: 0.825rem;
          font-weight: 500;
          cursor: pointer;
        }
      }
    }
  }

  .likes {
    display: flex;
    p {
      margin: 0.3rem 0.5rem 0;
    }
  }

  .like-button {
    display: flex;
    align-items: flex-end;
    color: #737380;

    span {
      font-size: 0.85rem;
      font-weight: 500;
      margin-right: 0.75em;
    }

    &.liked {
      color: #835afd;

      span {
        color: #835afd;
      }

      svg path {
        stroke: #835afd;
      }
    }
  }

  button[data-type="highlight"] {
    border: 0;
    background: transparent;
    cursor: pointer;

    &.title {
      margin-left: 0.75rem;
    }

    &.active svg path {
      stroke: #835afd;
    }
  }
}

@media (min-width: 650px) {
  #page-room header .content {
    display: grid;
    grid-template-columns: min-content 1fr max-content max-content;
    grid-template-areas: 
      'logo . code delete';

    button {
      width: max-content;
    }
  }

  main span {
    &[data-singular="yes"]::after {
      content: ' pergunta'
    }

    &[data-singular="no"]::after {
      content: ' perguntas'
    }
  }
}